*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Round base line height of 16 * 1.25 = 20 instead of 16 * 1.15 = 18.4 */
html {
  line-height: 1.25;
}


/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

iframe {
  display: block;
}