/**
 *  Colors
**/

$nxt-color-blue-dark: #13253f;
$nxt-color-blue: #192c47;
$nxt-color-blue-lighter: #526175;
$nxt-color-blue-light: #d1d5da;
$nxt-color-blue-bright: #f0f6fa;

$nxt-color-blue-highlight: #438bc6;
$nxt-color-blue-focusring: #a6d5fa;
$nxt-color-placeholder: #97a4b4;

$nxt-color-white: #fff;

$nxt-color-font-dark: #10021d;
$nxt-color-font-white: #fff;

$nxt-color-success: #00a911;
$nxt-color-warn: #f39c12;
$nxt-color-error: #ff2e00;

$nxt-color-background-light: #e8ebed;
$nxt-color-background-lighter: #f2f5f8;
$nxt-color-background-lightest: #f9fafa;


/**
 *  Breakpoints
**/

$mobile-horizontal: 460px;
$table-break: 640px;
$ipad-vertical: 768px;
$ipad-horizontal: 1024px;
// $hover-threshold: 1025px;
$macbook-air: 1152px;
$macbook-pro: 1280px;
$desktop: 1440px;


/**
 *  Stacking
**/

$z-raised: 1;
$z-raised-over: 2;
$z-powered-by: 7;
$z-mobile-bottom-bar: 8;
$z-menu-cover: 9;
$z-side-menu: 10;
$z-top-bar: 11;
$z-menu-button: 12;
$z-feature-presenter: 20;
$z-login: 50;
$z-reload-prompt: 10001;
$z-offline-message: 10002;


/**
 * Shadows
**/

$sh1: 0 0 1px #0000001a, 1px 1px 4px #00000026;
$sh2: 0 0 1px #0000001a, 2px 2px 8px #00000026;
$sh3: 0 0 1px #0000001a, 3px 3px 12px #00000039;


/**
 * Easing/Timing
**/

//	Sine
$ease--in-sine: cubic-bezier(.47, 0, .745, .715);
$ease--out-sine: cubic-bezier(.39, .575, .565, 1);
$ease--in-out-sine: cubic-bezier(.445, .05, .55, .95);
//	Quad
$ease--in-quad: cubic-bezier(.55, .085, .68, .53);
$ease--out-quad: cubic-bezier(.25, .46, .45, .94);
$ease--in-out-quad: cubic-bezier(.455, .03, .515, .955);
//	Cubic
$ease--in-cubic: cubic-bezier(.55, .055, .675, .19);
$ease--out-cubic: cubic-bezier(.215, .61, .355, 1);
$ease--in-out-cubic: cubic-bezier(.645, .045, .355, 1);
//	Quart
$ease--in-quart: cubic-bezier(.895, .03, .685, .22);
$ease--out-quart: cubic-bezier(.165, .84, .44, 1);
$ease--in-out-quart: cubic-bezier(.77, 0, .175, 1);
//	Quint
$ease--in-quint: cubic-bezier(.755, .05, .855, .06);
$ease--out-quint: cubic-bezier(.23, 1, .32, 1);
$ease--in-out-quint: cubic-bezier(.86, 0, .07, 1);
//	Circ
$ease--in-circ: cubic-bezier(.6, .04, .98, .335);
$ease--out-circ: cubic-bezier(.075, .82, .165, 1);
$ease--in-out-circ: cubic-bezier(.785, .135, .15, .86);
//	Expo
$ease--in-expo: cubic-bezier(.95, .05, .795, .035);
$ease--out-expo: cubic-bezier(.19, 1, .22, 1);
$ease--in-out-expo: cubic-bezier(1, 0, 0, 1);
//	Back
$ease--in-back: cubic-bezier(.6, -.28, .735, .045);
$ease--out-back: cubic-bezier(.175, .885, .32, 1.275);
$ease--in-out-back: cubic-bezier(.68, -.55, .265, 1.55);
//	Smooth fade
$ease--smooth-fade: cubic-bezier(.365, .005, .355, 1);


/**
 * Dimensions
**/

$card-padding-inline-mobile: 16px;
$card-padding-inline: 24px;


/**
 * Dashboard specific
**/

$dashboard-header-bar-height: 56px;
$dashboard-menu-transition: 600ms $ease--out-expo;
$dashboard-content-width-mobile: 92%;

/**
 * App specific
**/

$app-header-bar-height: 56px;
$app-buttons-height: 56px;
$app-content-width-mobile: 92%;
$app-content-width-desktop: 86%;